@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --cor1: #ff914d;
    --cor2: #0097b2;
    --cor3: #862d5b;
    --sombra: #00000065;
    --fonte_forte: bold;
}

body{
    background-color: var(--cor2);
    text-align: center;
    position: relative;

}
header{ 
    color: var(--cor2);
    background: white;
    box-shadow: 5px 5px 10px var(--sombra);
    padding: 20px;
    margin-bottom: 10px;  

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
header section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
header section img{
    display: block;
}
header section h1{
    font: 400 3em "Caprasimo", serif;    
}
header nav{
    padding-left: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header a{
    text-decoration: none;
    color: white;
    font: bold 1em arial;
    background-color: var(--cor1);
    padding: 5px;
    margin-right: 10px;
    border-radius: 10px;
    
}
    
main{
    background-color: white;
    width: 80%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 10px var(--sombra);
    
}
section{
    padding-top: 20px;
}
input{
    border-radius: 4px;
    padding: 5px;
    font-size: 1.2em;
    margin-bottom: 20px;
}
input#txtval , #itxtn , #idel{
    background-color: rgb(255, 255, 255); 
}

input#idel{
    margin-top: 10px;
    width: 115px;
}

input#botao{
    color: white;
    font-weight: bold ;
    background-color: var(--cor2);
    border-radius: 10px;
    border: none;
}
input#botao:hover{
    background-color: var(--cor3);
}
input#botao:active{
    font-size: large;
}
select#tab{
    border: 1px solid black;
    padding: 0px;
    background-color: var(--cor2);
    width: 95%;
}
select#tab option.txt_inicial{
    background-color: var(--cor1);
    color: black;
    font: bold 1.5em verdana;
}
select#tab option{
    border: 1px solid rgba(0, 0, 0, 0.237);
    color: black;
    background-color: white;
    font-weight: bold;
    padding: 5px;
}
p#res{
    margin: auto;
    padding: 5px 0px;
    background-color: var(--cor1);
    border: 1px solid black;
    width: 95%;
}
footer{
    font-weight: var(--fonte_forte);
    background-color: var(--cor1);
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 10px var(--sombra);
    padding: 10px;
    margin-top: 15px;
}