@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

*{
    margin: 0px;
    padding: 0px;
    
}
:root{
    --cor1: #ff914d;
    --cor2: #0097b2;
    --cor3: rgb(210, 210, 210);
    --gradiente: rgb(179, 92, 31) , rgb(255, 55, 0);
    --sombra: #00000065;
    --fonte_forte: bold;
}

body{
    background-color: var(--cor1);
    text-align: center;
}
div#imagem{
    background-color: #ffffff;
    padding: 10px;
}
div#imagem img{
    display: block;
    
}
header{
    color: var(--cor2);
    background: var(--cor3);
    box-shadow: 5px 5px 10px var(--sombra);
    padding: 20px;
    font: 400 1.5em "Caprasimo", serif;  
    margin-bottom: 10px;  
}
main{
    background-color: var(--cor3);
    width: 80%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 10px var(--sombra);
}
section{
    padding-top: 20px;
}
input{
    padding: 2px;
    font-size: 1.2em;
    margin: 2px;
}
input#txtval , #itxtn , #idel{
    background-color: rgb(255, 255, 255); 
}

input#idel{
    margin-top: 10px;
    width: 115px;
}

input#botao{
    color: white;
    font-weight: bold ;
    background-color: var(--cor1);
    border-radius: 10px;
}
select#tab{
    width: 200px;
}
p#res{
    margin: auto;
    background-color: var(--cor1);
    width: 200px;
}
footer{
    margin-top: 10px;
    font-weight: var(--fonte_forte);
    background-color: var(--cor2);
    box-shadow: 5px 5px 10px var(--sombra);
    padding: 10px;
}